body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MARGIN */

.margin{
    flex-basis: 200px;
}

/* HEADER */

.header-container{
    display: flex;
    justify-content: center;
}

.header-container .margin{
    background-color: #1F2937;
}

.header div:nth-child(1){
    font-size: 24px;
    color: #F9FAF8;
}

#logo {
    width: 75px;
    height: 75px;
    border-radius: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    flex: 1;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/* SECTION ONE */

.section-one-container{
    display: flex;
    justify-content: center;
    flex: 1;
}

.section-one-container .margin{
    background-color: #1F2937;
}

.section-one{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    flex: 1;
    align-items: center;
    padding: 50px 0;
}

.section-one h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

.section-one p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}


.section-one button{
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    padding: 5px 0;
    width: 125px;
    font-size: 18px;
}

.section-one div:nth-child(1){
    flex-basis: 400px;
    flex-direction: column;
    gap: 10px;
    display: flex;
}

#front {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.section-one div:nth-child(2){
    height: 400px;
    width: 1000px;
    background-color: grey;
    font-size: 18px;
    color: #E5E7EB;
}

/* SECTION TWO */

.section-two-container{
    display: flex;
    justify-content: center;
    flex: 1;
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 50px 0;
}

.section-two h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 50px;
}

.section-two > div{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.section-two > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-two > div > div > div{
    border: 1px solid #3882F6;
    border-radius: 16px;
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.section-two p{
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    padding: 10px 0;
    margin: 0;
}

/* SECTION THREE */

.section-three-container{
    display: flex;
    justify-content: center;
    flex: 1;
}

.section-three-container .margin{
    background-color: #E5E7EB;
    flex-basis: 300px;
}

.section-three{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E5E7EB;
    flex: 1;
    padding: 50px 0;
}

.section-three p:nth-child(1){
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    text-align: justify;
    padding: 25px 0;
    margin-bottom: 0;
}

.section-three p:nth-child(2){
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
    margin-left: auto;
    margin-right: 50px;
}

/* SECTION FOUR */

.section-four-container{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.section-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    flex: 1; 
}

.section-four-container > div > div{
    background-color: #3882F6;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 100px 0;
    padding: 50px 0;
}

.section-four-container p:nth-child(2){
    margin-left: 150px;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.section-four-container p:nth-child(1){
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 150px;
    margin-bottom: 0;
}

.section-four button{
    background-color: #3882F6;
    border-radius: 6px;
    padding: 5px 20px;
    border: 1px solid #E5E7EB;
    margin-right: 150px;
    font-size: 18px;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    padding: 5px;
    font-size: 18px;
    color: #E5E7EB;
}